<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>NSPrivacyTrackingDomains</key>
	<array/>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<!-- Location API -->
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryLocation</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>3E67-A2DB.1</string>
			</array>
		</dict>
		<!-- Microphone API -->
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryMicrophone</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>7D46-2D46.32</string>
			</array>
		</dict>
		<!-- Contacts API -->
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryContacts</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>CA92-94C3.5</string>
			</array>
		</dict>
		<!-- File API -->
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryFileAPI</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>0A3A-9EE1.4</string>
			</array>
		</dict>
	</array>
</dict>
</plist>